.df-form {

    .select2-container--default .select2-selection--multiple {
        background-color: #edf2f7;
        border: 1px solid #edf2f7;
        padding-left: 0.5rem;
    }

    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border: solid #a0aec0 1px;
    }
}

.df-textfield {
    appearance: none;
    display: block;
    @apply pl-5;
    @apply w-full;
    @apply bg-white;
    @apply text-gray-700;
    @apply rounded;
    @apply py-2;
    @apply px-3;
    @apply leading-tight;
    @apply border;
    @apply border-gray-300;
}

.error-field {
    @apply border-red-500;
}

.df-textfield:focus {
    @apply bg-white;
    @apply outline-none;
    @apply border-gray-500;
}

.df-textarea {
    @apply appearance-none;
    @apply block;
    @apply w-full;
    @apply bg-white;
    @apply text-gray-700;
    @apply rounded-lg;
    @apply py-2;
    @apply px-3;
    @apply leading-tight;
    @apply border;
    @apply border-gray-200;
}

.df-textarea:focus {
    @apply outline-none;
    @apply bg-white;
    @apply border-gray-500;
}